.shop-reply-web {
    padding-top: 96px;
    background-image: url(../letter-web-bg.png);
    background-position: center 115px;
    background-size: 739px 707px;
    background-repeat: no-repeat;
    .shop-letter-hd {
        margin-top: 60px;
    }
    .shop-reply-actions-wrapper {
        position: absolute;
        z-index: 1;
        top: 890px;
        left: 0;
        right: 0;
    }
    .shop-reply-progress {
        margin-top: 324px;
    }
    .shop-letter-content {
        margin-top: 24px;
        padding: 0 50px;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
    }
    .shop-rule-action {
        position: absolute;
        z-index: 5;
        top: 1000px;
        left: 55px;
    }
}

.shop-reply-client {
    padding-top: 135px;
    background-image: url(../letter-client-bg.png);
    background-position: center 11px;
    background-size: 739px 824px;
    background-repeat: no-repeat;
    .shop-reply-actions-wrapper {
        margin-top: 40px;
    }
    .shop-letter-content {
        position: relative;
        margin-top: 55px;
        padding: 0 50px 100px 50px;
        height: 410px;
        font-size: 24px;
        line-height: 36px;
        color: #000;
    }
    .shop-rule-action {
        position: relative;
        z-index: 5;
        margin-top: 50px;
    }
    .shop-reply-progress {
        margin-top: -24px;
    }
    .shop-letter-signature {
        position: absolute;
        right: 45px;
        bottom: 55px;
    }
    .shop-reply-bottom {
        position: relative;
        margin-top: 60px;
        padding-top: 70px;
        height: 228px;
        background: #b1070b;
        box-sizing: border-box;
        color: #fff;
        font-size: 24px;
        line-height: 36px;
    }
    .shop-reply-bottom-recommend {
        position: absolute;
        top: -30px;
        left: 390px;
        display: flex;
        align-items: flex-end;
    }
    .shop-reply-bottom-book {
        width: 180px;
        height: 226px;
    }
    .shop-reply-bottom-tip {
        padding-left: 45px;
        padding-bottom: 18px;
        height: 38px;
        background-image: url(../finger.png);
        background-position: 0 0;
        background-size: auto 38px;
        background-repeat: no-repeat;
        line-height: 38px;
        font-size: 24px;
        color: #fff;
    }
    .shop-reply-bottom-tip:before {
        content: '点图去看';
    }
}

.shop-rule-action {
    text-decoration: underline;
    font-size: 28px;
    color: #4f3829;
}

.shop-reply-1 {
    .shop-letter-avatar {
        background-image: url(../letter-avatar-1.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-letter-desc {
        top: 512px;
        right: 0px;
        width: 381px;
        height: 422px;
        background-image: url(../letter-desc-1.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-letter-signature {
        width: 135px;
        height: 49px;
        background-image: url(../signature-1.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-reply-bottom-book {
        background-image: url(../book-1.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.shop-reply-2 {
    .shop-letter-avatar {
        background-image: url(../letter-avatar-2.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-letter-desc {
        top: 480px;
        right: 10px;
        width: 310px;
        height: 464px;
        background-image: url(../letter-desc-2.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-letter-signature {
        width: 136px;
        height: 68px;
        background-image: url(../signature-2.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-reply-bottom-book {
        background-image: url(../book-2.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.shop-reply-3 {
    .shop-letter-avatar {
        background-image: url(../letter-avatar-3.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-letter-desc {
        top: 547px;
        right: 0;
        width: 373px;
        height: 381px;
        background-image: url(../letter-desc-3.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-letter-signature {
        width: 125px;
        height: 62px;
        background-image: url(../signature-3.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .shop-reply-bottom-book {
        background-image: url(../book-3.png);
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.shop-letter-hd {
    height: 140px;
    display: flex;
    align-items: flex-end;
}

.shop-letter-title {
    margin-left: 15px;
    font-size: 50px;
    color: #4f3829;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop-letter-avatar {
    width: 140px;
    height: 140px;
}

.shop-letter-notice {
    margin-left: 25px;
    margin-top: 30px;
    padding: 30px 20px 0 36px;
    width: 380px;
    height: 142px;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    box-sizing: border-box;
    background-image: url(../letter-notice.png);
    background-position: 0 0;
    background-size: 380px 142px;
    background-repeat: no-repeat;
}

.shop-letter-desc {
    position: absolute;
}

.shop-reply-actions {
    display: flex;
    justify-content: space-between;
    height: 72px;
}
