.srule-mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.srule{
    position: relative;
    width: 574px;
    height: 811px;
    background-image: url(./rule.png);
background-position: 0 0;
background-size: 100% 100%;background-repeat: no-repeat;
}
.srule-close{
    position: absolute;
    left: 50%;
    bottom: -125px;
    width: 96px;
    height: 96px;
    transform: translateX(-48px);
    background: url(./rule-close.png) 0px 0px / 100% 100%;
}
